.containerParallax{
    width: 100%;
    height: 80vh;
    display: flex; 
    flex-direction: column;
}
.upperHalf {
    flex: 1;
    background-color:rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lowerHalf {
    flex: 1;
    background-image: url('../../assets/img1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

.containerText{
    text-align: center;
    padding-bottom: 80px;
}

.containerText h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 3em;
}
.containerText h3{
    display: inline-block;
    background-color: black;
    color: rgb(255, 255, 255);
}

.containerRedes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerRedes h1{
    font-size: 2em;
    color: white;
    padding: 0;
}

.containerRedes i{
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.containerRedes i:hover{
    color: #e4cf17;
}
