.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

h1 {
    padding-top: 80px;
    color: rgb(80, 80, 80);
    font-weight: 800;
    font-size: 3em;
}

.containerP {
    padding: 50px;
}

p {
    line-height: 2.5;
    color: rgb(80, 80, 80);
    font-size: 1.3em;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2em;
    }

    p {
        line-height: 1.8;
        font-size: 1em;
    }

}